In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv(r'Samsung-Dataset.csv')
df.head(1)

,ID,0,1,2,3,4,5,6,7,8,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,target
0,1460,-0.13215,0.665297,-0.064984,-0.682743,-1.67012,-2.038328,-0.545154,0.31071,1.383457,...,-1.861042,-0.54705,0.027867,0.195051,-1.528746,-0.82043,-0.520177,-0.018556,0.115196,0

In [32]:
df.isnull().values.any(), df.isna().values.any()

(True, True)

In [34]:
cols = df.columns
for i in cols:
    med = np.median(df[i])
    df[i].fillna(med)

In [35]:
df.isnull().values.any(), df.isna().values.any()

(True, True)

In [36]:
df['split'] = np.random.randn(df.shape[0], 1)

msk = np.random.rand(len(df)) <= 0.8

train = df[msk]
test = df[~msk]

In [37]:
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt

In [39]:
df.hist(bins=len(cols[:5]))
plt.show()